
assets/audio/LuluWE5.ogg
assets/audio/LuluU2.ogg
assets/audio/LuluM8.ogg
assets/audio/LuluM2.ogg
assets/audio/L theme death note 1.mp3
assets/audio/gemidinho do zap.mp3
assets/audio/Death note tema terror.mp3
