* {
  font-family: sans-serif;
  user-select: none !important;
  -webkit-user-drag: none !important;
}

html,
body {
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
}

body {
  width: 100svw !important;
  height: 100svh !important;
  max-width: 100svw !important;
  max-height: 100svh !important;
}

p {
  user-select: none;
  -webkit-user-drag: none;
}

section {
  height: 100svh;
  width: 100svw;
  max-height: 100svh;
  max-width: 100svw;
}

img {
  -webkit-user-drag: none !important;
  user-select: none !important;
}

#containerSoundboard>div {
  height: 200px;
}

.add-media-btn {
  font-size: 2rem;
}

.sound-table-item-container {
  min-width: 20%;
  position: relative;
}

.audio-component-div-block-interaction,
.yt-div-block-interaction {
  opacity: 1 !important;
  cursor: pointer;
  text-align: center;
  font-size: 10px !important;
  font-weight: bolder;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  text-transform: uppercase !important;
}

.sound-table-input-container {
  position: absolute;
  z-index: 1200;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px !important;
}

.sound-table-input {
  border-radius: 0 !important;
  border: none !important;
}

.audio-component-div-block-interaction::after,
.yt-div-block-interaction::after {
  opacity: 0;
  text-align: center;
  font-size: 10px !important;
  font-weight: bolder;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  text-transform: uppercase !important;
  backdrop-filter: brightness(160%) saturate(210%);
  transition: opacity .3s linear;
  pointer-events: none !important;
}

.sound-table-item:hover .yt-div-block-interaction::after,
.sound-table-item:hover .audio-component-div-block-interaction::after {
  opacity: 1 !important;
}

.audio-component-div-block-interaction::after {
  content: attr(audio-component-name);
}

.yt-div-block-interaction::after {
  content: attr(yt-iframe-video-name);
}

.sound-table-item-container {
  transition: all .3s linear;
}

.sound-table-item-container.audio-component-playing,
.sound-table-item-container.yt-playing {
  transform: translateY(-10px);
}