* {
  font-family: sans-serif;
  user-select: none !important;
  -webkit-user-drag: none !important;
}

html,
body {
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
}

body {
  width: 100svw !important;
  height: 100svh !important;
  max-width: 100svw !important;
  max-height: 100svh !important;
}

p {
  user-select: none;
  -webkit-user-drag: none;
}

section {
  height: 100svh;
  width: 100svw;
  max-height: 100svh;
  max-width: 100svw;
}

img {
  -webkit-user-drag: none !important;
  user-select: none !important;
}

#containerSoundboard>div {
  height: 200px;
}

.add-media-btn {
  font-size: 2rem;
}

.sound-table-item-container {
  position: relative;
}

.sound-table-input-container {
  position: absolute;
  z-index: 1200;
  top: 0;
  left: 0;
  width: 100%;
}

.sound-table-input {
  border-radius: 0 !important;
  border: none !important;
}

.media-component-div-block-interaction,
.yt-div-block-interaction {
  cursor: pointer;
  opacity: 0;
  text-align: center;
  font-size: 10px !important;
  font-weight: bolder;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  text-transform: uppercase !important;
}

.media-component-div-block-interaction:hover,
.yt-div-block-interaction:hover {
  opacity: 1 !important;
  backdrop-filter: brightness(80%) saturate(290%) blur(4px);
}

.sound-table-item-container .sound-table-input-container {
  opacity: 0;
  transition: opacity .2s linear;
}

.sound-table-item-container:hover .sound-table-input-container {
  opacity: 1 !important;
}

.media-component-div-block-interaction::after,
.yt-div-block-interaction::after {
  text-align: center;
  font-size: 10px !important;
  font-weight: bolder;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  text-transform: uppercase !important;
  backdrop-filter: brightness(160%) saturate(190%) blur(4px);
}

.media-component-div-block-interaction::after {
  content: attr(media-component-name);
}

.yt-div-block-interaction::after {
  content: attr(yt-iframe-video-name);
}

.sound-table-item-container {
  transition: all .1s linear;
}

.sound-table-item-container.media-component-playing,
.sound-table-item-container.yt-playing {
  transform: translateY(-10px);
}

.cursor-pointer {
  cursor: pointer;
}

.not-ready,
.loading {
  display: block !important;
  position: relative !important;
  opacity: 1 !important;
  transition: opacity .3s;
}

.not-ready::before,
.loading::before {
  position: absolute;
  content: "loading";
  font-weight: bolder;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 14px !important;
  color: white;
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  text-transform: uppercase !important;
  z-index: 999;
  background: linear-gradient(229deg, #11cc9c, #782281);
  background-size: 400% 400%;

  -webkit-animation: MovingGradient 10s ease infinite;
  -moz-animation: MovingGradient 10s ease infinite;
  animation: MovingGradient 10s ease infinite;
}


@-webkit-keyframes MovingGradient {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes MovingGradient {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@keyframes MovingGradient {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}